<div class="container mt-3">
  <h1>Editing host</h1>

  <%= render "form", host: @host %>

  <br>

  <div>
    <%= link_to "Back to Settings", settings_path, class: "btn btn-info text-white" %>
  </div>
</div>
