<div class="container mt-3">
  <p style="color: green"><%= notice %></p>

  <%= render @host %>

  <div class='d-flex flex-column'>
   <%= link_to "Back to Settings", settings_path, class: "btn btn-info mt-3" %>
   <%= button_to "Delete", @host, method: :delete, class: 'btn btn-danger mt-3 text-white' %>
  </div>
</div>
