<div class="container-fluid" data-controller="mbb">

  <div class="card mt-3 mx-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Doesn't Meet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partially Meets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meets Threshold</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Websites/Subdomain Impersonators</h5>
      <ul>
        <li>
          Evidence: Is there clear evidence provided to support the claim of an impersonator website or subdomain?
        </li>
        <li>
          Impact: How severe is the potential impact of the impersonator on the company or its customers?
        </li>
        <li>
          Authenticity: Is the submission accompanied by sufficient information to demonstrate that the reported website or subdomain is indeed an impersonator?
        </li>
        <li>
          Clarity: Is the report well-documented and articulated, providing clear details on the impersonation techniques and how they violate the bug bounty program's scope?
        </li>
      </ul>
      <a href="/" class="btn btn-primary">Submit</a>
    </div>
  </div>



</div>
