<div class="container mt-3">
  <h1>New Form</h1>

  <%= render "form", form: @form %>

  <br>

  <div class='d-flex flex-column'>
    <%= link_to "Back to Settings", settings_path, class: "btn btn-info text-white" %>
  </div>

</div>
